# render.yaml
services:
  - type: web
    name: mcmi-iii-app
    runtime: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn Assessment_test.wsgi:application"
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: Assessment_test.settings
      - key: PYTHON_VERSION
        value: 3.12.0
        
python manage.py collectstatic --noinput